@import 'src/styles.scss';

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input {
  width: 50px;
  text-align: center;
  font-size: 22px;
  padding: 10px;
  margin: 0 5px;
  border-width: 2px;
  border-style: solid;
  border-color: $grey;
  border-radius: 5px;
  &:hover, &:focus {
    border-width: 2px;
    border-style: solid;
    border-color: $black;
    border-radius: 5px;
  }
}
