@import 'src/styles.scss';

#header {
  img {
    margin-top: 80px;
    $icon-size: 300px;
    width: $icon-size;
    max-width: 60%;
    height: max-width / 1;
    font-size: $icon-size;
  }

  span {
    margin: 20px 40px;
    font-size: 50px;
    text-align: center;
  }
}

#project-cards {
  width: 100%;
  .mat-card {
    width: 500px;
    max-width: 80%;
    margin-bottom: 20px;
    box-shadow: 5px 10px 20px $grey;

    img {
      $icon-size: 100px;
      width: $icon-size;
      height: $icon-size;
      font-size: $icon-size;
    }

    b {
      margin-left: 20px;
      font-size: 22px;
    }
  }
}
