<div class="wrapper" fxLayout="column" fxLayoutAlign="space-around center">
    <div id="header" fxLayout="column" fxLayoutAlign="space-around center">
        <img src="assets/img/dev/bauersfeld-dev-logo.svg">
        <span>Welcome to DEV</span>
    </div>
    <div id="project-cards">
        <mat-card fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/img/dev/gnome/gnome-logo.svg">
            <b>Gnome</b>
        </mat-card>
        <mat-card fxLayout="row" fxLayoutAlign="start center">
            <img src="assets/img/dev/debt/debt_logo.png">
            <b>Debt</b>
        </mat-card>
    </div>
</div>
