@import 'src/styles.scss';

button {
  a {
    color: $black;
    text-decoration: none;
  }
}

#navigation {
  height: 100%;
  img {
    $icon-width: 860px;
    width: $icon-width;
    max-width: 80%;
    height: max-width / 4.3;
    margin-bottom: 10px;
  }
}

#skip-welcome-checkbox {
  height: 40px;
  overflow: hidden;
}
