<div class="wrapper" fxLayout="column" fxLayoutAlign="space-between center">
  <div id="worktime-calculator">
    <div fxLayout="row" fxLayoutAlign="start center">
      <app-time-picker (timeChanged)="onTimeChanged($event)"></app-time-picker>
      <button mat-flat-button color="primary" (click)="stamp()">Stempeln</button>
    </div>
    <div>
      <div *ngFor="let stamp of timestamps" fxLayout="row" fxLayoutAlign="space-between center">
        <span>{{stamp.getHours()}}:{{stamp.getMinutes()}}</span>
        <button mat-icon-button (click)="removeStamp(stamp)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <span id="result">Arbeitszeit: {{worktime}}h</span>
</div>
